<template>
  <div>
    <h1>Edit User</h1>
    <div v-if="user">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" v-model.trim="user.name" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" v-model.trim="user.lastName" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" v-model.trim="user.email" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" id="age" v-model.number="user.age" class="form-control" required />
      </div>
      <button @click="saveChanges" class="btn-submit">Save Changes</button>
      <button @click="goBack" class="btn-cancel">Cancel</button>
    </div>
    <div v-else>
      <p>User not found</p>
      <button @click="goBack" class="btn-cancel">Cancel</button>
    </div>
  </div>
</template>

<script setup >
import { ref, onMounted } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();
const userId = Number(router.currentRoute.value.params.userId);
const userList = ref([]);

// Variable reactiva para almacenar los datos del usuario actual
const user = ref(null);

onMounted(() => {
  //Buscar el usuario por su ID
  user.value = userList.value.find(u => u.id === userId) || null;
});

//Función para guardar los cambios del usuario
const saveChanges = () => {
  // Encontrar el índice del usuario en el array userList
  const index = userList.value.findIndex(u => u.id === user.value.id);
  if (index !== -1) {
    // Actualizar el usuario en el array userList
    userList.value.splice(index, 1, user.value);
    // Redirigir a la página de inicio
    router.push('/');
  }
};

// Función para regresar a la página principal
const goBack = () => {
  router.push('/');
};
</script>

<style scoped>
.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.btn-submit {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.btn-cancel {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
</style>
