<template>
  <div>
    <h1>Welcome to Home Page</h1>
    <form @submit.prevent="addUser" class="form-container">
      <div class="form-group">
        <input type="text" v-model.trim="newUser.name" class="form-control" placeholder="Name" required />
      </div>
      <div class="form-group">
        <input type="text" v-model.trim="newUser.lastName" class="form-control" placeholder="Last Name" required />
      </div>
      <div class="form-group">
        <input type="email" v-model.trim="newUser.email" class="form-control" placeholder="Email" required />
      </div>
      <div class="form-group">
        <input type="number" v-model.number="newUser.age" class="form-control" placeholder="Age" required />
      </div>
      <button type="submit" class="btn-submit">Add User</button>
    </form>

    <div v-if="userList.length > 0">
      <h2>User List</h2>
      <div class="card-container">
        <div v-for="(user, index) in userList" :key="index"  class="card">
          <p><strong>ID:</strong> {{ user.id }}</p>
          <p><strong>Name:</strong> {{ user.name }}</p>
          <p><strong>Last Name:</strong> {{ user.lastName }}</p>
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p><strong>Age:</strong> {{ user.age }}</p>
          <button @click="editUser(user.id)">Edit</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import type { IUserInfo } from '@/interfaces/IUserInfo';

const newUser = ref<IUserInfo>({ id: 0, name: '', lastName: '', email: '', age: 0 });
const userList = ref<IUserInfo[]>([]);
const router = useRouter();

const addUser = () => {
  if (newUser.value.name && newUser.value.lastName && newUser.value.email && newUser.value.age) {
    newUser.value.id = userList.value.length;
    userList.value.push({ ...newUser.value });
    clearForm();
  }
};

const clearForm = () => {
  newUser.value = { id: 0, name: '', lastName: '', email: '', age: 0 };
};

const editUser = (userId: number) => {
  /* router.push({
    name: 'EditUser',
    params: { userId, userList: JSON.stringify(userList.value) }
  }); */
  const index = userList.value.findIndex(user => user.id === userId);
  if (index % 2 === 0) {
    alert('No puedes editar un usuario con índice par.');
    return; // Salir de la función si el índice es par
  }
  else{
    router.push({
    name: 'EditUser',
    params: { userId, userList: JSON.stringify(userList.value) }
  });
  }
};
</script>

<style scoped>
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f5f5f5;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.btn-submit {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #0056b3;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 200px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.card p {
  margin: 0;
}

.card button {
  margin-top: 10px;
}
</style>
