<template>
  <div>
    <h2>User List</h2>
    <ul>
      <!-- Iterar sobre la lista de usuarios y mostrar los detalles -->
      <li v-for="(user, index) in userList" :key="index" :style="{ backgroundColor: index % 2 === 0 ? 'lightgray' : 'transparent' }" @click="selectUser(user)">
        {{ user.name }} - {{ user.lastName }} - {{ user.email }} - {{ user.age }}
      </li>
    </ul>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();

// Definir una lista de usuarios utilizando ref
const userList = ref([]);

// Función para seleccionar un usuario y redirigir a la página de edición
const selectUser = (user) => {
  router.push({ name: 'EditUser', params: { userId: user.id } });
};
</script>
